<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurant catalogue for you" />
    <meta name="theme-color" content="#FFFFFF" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Hunger Apps</title>
  </head>
  <body>
    <a href="#restaurant-card-container" class="skip-link">Menuju ke konten</a>
    <header>
      <navbar-head></navbar-head>
    </header>
    <main>
      <error-alert></error-alert>
      <div
        id="main-content"
        style="min-height: 100vh; margin-bottom: 30px"
      ></div>
    </main>
    <footer>
      <footer-component></footer-component>
    </footer>
  </body>
</html>
